<section id="contato" class="min-h-screen h-full w-full">
  <div class="flex flex-col justify-center items-center h-full">
    <div class="flex flex-col justify-center items-center w-11/12">
      <h1 class="text-4xl font-bold text-center">{{homepageData?.form?.title}}</h1>
      <p class="my-6">{{homepageData?.form?.description}}</p>
    </div>
    <div class="flex flex-col justify-center items-center border-2 border-[#740318] w-11/12 mx-auto">
      <app-form class="w-full mx-auto lg:p-8 p-2 my-4 lg:my-0 bg-white" [formGroup]="form" (ngSubmit)="submit(form.value)">
        <ng-container *ngFor="let field of config.fields">
          <ng-container [ngSwitch]="field.component">
            <app-form-input *ngSwitchCase="'input'" [formControlName]="field.name" [type]="field.type" [placeholder]="field.placeholder" class="lg:w-[40%] lg:m-4 w-full my-4" />
            <app-form-textarea *ngSwitchCase="'textarea'" [formControlName]="field.name" [placeholder]="field.placeholder" class="lg:w-[84%] lg:h-[300px] lg:m-4 w-full my-4 h-[150px]" />
          </ng-container>
        </ng-container>
        <button type="submit" class="bg-[#740318] hover:bg-[#740318c9] disabled:bg-[#740318c9] text-white font-semibold py-4 px-6 w-[84%] rounded m-8" [disabled]="!form.valid">{{homepageData?.form?.button?.text}}</button>
      </app-form>
    </div>
  </div>
</section>