<app-sidebar>
  <div class="flex justify-between items-center my-4">

    <app-button
      [class]="'bg-[#741308] hover:bg-[#118632] text-white font-bold py-4 px-6 rounded-lg'"
      [link]="'./admin/estoque/ingredientes'"
      [disabled]="false"
     >
      Voltar
    </app-button>  
  </div>
  <div class="w-full flex flex-col justify-center items-center">
    <h1 class="text-4xl font-bold text-center my-6">Cadastrar Novo Ingrediente</h1>
    <p class="text-center my-4 w-full lg:w-1/2">Aqui você pode cadastrar um novo ingrediente para entrada no estoque.</p>
  </div>

  <div class="flex justify-center border-2 border-[#740318] mx-auto rounded-md">
    <app-form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()" class="w-full bg-white p-8 rounded-lg">
      <ng-container *ngFor="let field of ingredientFormFields.fields">
        <ng-container [ngSwitch]="field.component">

          <!-- Campo input -->
          <label *ngSwitchCase="'input'" [for]="field.id" class="block w-full my-2 text-sm font-medium">{{ field.label }}</label>
          <app-form-input 
            *ngSwitchCase="'input'" 
            [type]="field.type || 'text'" 
            [id]="field.id" 
            [formControlName]="field.name || ''" 
            [placeholder]="field.placeholder || ''" 
            class="w-full" />
          
          <div *ngIf="ingredientForm.get(field.name)?.invalid && ingredientForm.get(field.name)?.touched" class="h-6">
            <span *ngIf="field.validations && field.validations[0]" class="text-red-500">{{ field.validations[0].message }}</span>
          </div>

          <!-- Campo select -->
          <label *ngSwitchCase="'select'" [for]="field.name" class="block w-full my-2 text-sm font-medium">{{ field.label }}</label>
          <select 
            *ngSwitchCase="'select'" 
            [id]="field.name" 
            [formControlName]="field.name" 
            class="w-full form-select mt-1 outline-[#740318] border-2 border-[#740318] rounded-md shadow-sm focus:border-[#740318] focus:ring-[#740318] focus:ring-opacity-50">
            <option *ngFor="let option of field.options" [value]="option.value">{{ option.label }}</option>
          </select>

        </ng-container>
      </ng-container>

      <button 
        type="submit" 
        class="bg-[#740318] hover:bg-[#740318c9] text-white font-semibold py-3 px-4 w-full rounded transition ease-in-out duration-300 mt-4" 
        [disabled]="!ingredientForm.valid">
        Salvar Produto
      </button>
    </app-form>
  </div>
</app-sidebar>
