<app-sidebar>
<div class="w-full h-full flex justify-center items-center space-x-8">
    <app-card [hasRedirection]="true" title="Grupo de Fichas 1" imgSrc="https://cdn.goomer.com.br/website/base/3e1/5cc/11f/1140-365-topo-goo-ficha-tecnica-de-restaurante-blog.jpg" [buttonText]="'Ver mais'"></app-card>
    <app-card [hasRedirection]="true"  title="Grupo de Fichas 2" imgSrc="https://cdn.goomer.com.br/website/base/3e1/5cc/11f/1140-365-topo-goo-ficha-tecnica-de-restaurante-blog.jpg" [buttonText]="'Ver mais'"></app-card>
    <app-card [hasRedirection]="true"  title="Grupo de Fichas 3" imgSrc="https://cdn.goomer.com.br/website/base/3e1/5cc/11f/1140-365-topo-goo-ficha-tecnica-de-restaurante-blog.jpg" [buttonText]="'Ver mais'"></app-card>
</div>

<app-card-list [cardListConfig]="cardListConfig"></app-card-list>
</app-sidebar>