<app-banner-layout></app-banner-layout>
<div id="funcionalidades" class="py-8 md:py-12 lg:py-16">
    <app-section-layout
        title={{data.section1.title}}
        description={{data.section1.description}}
        buttonLink={{data.section1.button.link}}
        buttonText={{data.section1.button.text}}
        imageUrl={{data.section1.image}}
        [reverse]="data.section1.reverse"
        />
        <app-section-layout
        title={{data.section2.title}}
        description={{data.section2.description}}
        buttonLink={{data.section2.button.link}}
        buttonText={{data.section2.button.text}}
        imageUrl={{data.section2.image}}
        [reverse]="data.section2.reverse"
        />
        <app-section-layout
        title={{data.section3.title}}
        description={{data.section3.description}}
        buttonLink={{data.section3.button.link}}
        buttonText={{data.section3.button.text}}
        imageUrl={{data.section3.image}}
        [reverse]="data.section3.reverse"
        />
        <app-section-layout
        title={{data.section4.title}}
        description={{data.section4.description}}
        buttonLink={{data.section4.button.link}}
        buttonText={{data.section4.button.text}}
        imageUrl={{data.section4.image}}
        [reverse]="data.section4.reverse"
        />
</div>
<div id="contato">
    <app-form-layout></app-form-layout>
</div> 
<app-footer></app-footer>