<div class="">
  <h1 class="md:text-3xl text-center md:text-left text-xl font-bold mb-4">{{ tableConfig.title }}</h1>
  <div class="flex justify-between items-center mb-4 flex-wrap">
    <!-- Filtros -->
    <ul class="flex space-x-4">
      <li *ngFor="let filter of tableConfig.filters; let i = index">
        <button [ngClass]="{
                        'text-primary font-bold underline underline-offset-2': filter.isActive
                    }" (click)="onFilterClick(filter)">
          {{ filter.text }}
        </button>
      </li>
    </ul>
    <!-- Métricas -->
    <span class="text-lg font-bold ">{{ tableConfig.metrics }}</span>
  </div>
  <div class="w-full h-[2px] my-2 bg-gray-300"></div>
  <app-searchbar [searchBarConfig]="tableConfig.search"></app-searchbar>
  <!-- Tabela -->
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-[#74031820]">
        <tr>
          <th *ngFor="let headerItem of tableConfig.header; let i = index" scope="col" class="px-6 py-3">
            {{ headerItem }}
          </th>
        </tr>
      </thead>
    <tbody>
      <tr *ngFor="let dataItem of tableConfig.data; let i = index" class="bg-white border-b">
        <td *ngFor="let key of tableConfig.rowOrder; let j = index" class="px-6 py-4">
          <button *ngIf="dataItem.componentType[j] === 'button'" class="bg-primary px-4 py-2 rounded-md text-white">
            {{ dataItem.rowData[key] }}
          </button>
          <span *ngIf="dataItem.componentType[j] === 'text'">
            {{ dataItem.rowData[key] }}
          </span>
        </td>
      </tr>
    </tbody>

    <tfoot class="bg-[#74031820]">
      <tr>
        <td colspan="100%" class="p-2 text-right">
          <div class="flex items-center justify-between mx-2">
            <span class="text-sm text-gray-700">
              {{ tableConfig.pagination.pageRange }} de
              {{ tableConfig.pagination.totalPages }}
            </span>
            <div class="flex items-center space-x-2">
              <button class="flex items-center justify-center w-8 h-8 rounded-full text-gray-700 border border-gray-500"
                (click)="onPageDecrease()"
                [disabled]="tableConfig.pagination.totalPages! < tableConfig.pagination.pageRange">
                <span class="icon-[formkit--left]"></span>
              </button>
              <button class="flex items-center justify-center w-8 h-8 rounded-full text-gray-700 border border-gray-500"
                (click)="onPageIncrease()"
                [disabled]="tableConfig.pagination.totalPages! < tableConfig.pagination.pageRange">
                <span class="icon-[formkit--right]"></span>
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tfoot>
    </table>
  </div>
</div>