<section class="flex h-screen">
  <!-- Sidebar -->
  <div [ngClass]="{'w-64': isExpanded, 'w-20': !isExpanded}" class="bg-[#741308] text-white font-semibold flex flex-col transition-all duration-300">
    <div class="flex items-center justify-between p-4">
      <button (click)="toggleSidebar()" class="focus:outline-none">
        <span class="p-4" [ngClass]="{'icon-[icon-park-outline--left-c]': isExpanded, 'icon-[icon-park-outline--right-c]': !isExpanded}"></span>
      </button>
    </div>
    <nav class="flex-1 px-2 py-4 space-y-2">
      <ng-container *ngFor="let item of sidebarItems">
        <div class="group">
          <a [href]="item.link" class="flex items-center p-2 text-base font-medium rounded-lg hover:bg-[#d33f3f]">
            <i [class]="item.icon"></i>
            <span *ngIf="isExpanded" class="ml-4">{{ item.title }}</span>
            <i *ngIf="item.subItems && isExpanded" class="fas fa-chevron-down ml-auto"></i>
          </a>
          <div *ngIf="item.subItems" class="hidden group-hover:block pl-4">
            <ng-container *ngFor="let subItem of item.subItems">
              <a [href]="subItem.link" class="block p-2 text-sm font-medium rounded-lg hover:bg-[#d33f3f]">
                <i [class]="subItem.icon"></i>
                <span *ngIf="isExpanded" class="ml-4">{{ subItem.title }}</span>
              </a>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </nav>
  </div>
  <!-- Main content -->
  <div class="flex-1 p-4">
    <ng-content></ng-content>
  </div>
</section>