<app-sidebar>
    <h1 class="text-4xl font-bold text-center mb-8">Gerenciamento de Caixa</h1>
   
    <div class="w-full flex justify-center gap-80 items-center mx-auto">
        
        <app-card class="flex-1 max-w-xs mr-4" [isDemographic]="true" iconClass="icon-[mdi--delivery-dining-outline]"
            [metric]="'R$249'" [percentageChange]="2.84" [isPositive]="true" metricTitle="em Delivery">
        </app-card>

        <app-card class="flex-1 max-w-xs lg:ml-4" [isDemographic]="true"
            iconClass="icon-[material-symbols--table-bar-outline]" [metric]="'R$1.290'" [percentageChange]="0"
            [isPositive]="true" metricTitle="pelas Mesas">
        </app-card>
    </div>
       <div class="flex justify-center mt-10 mb-10 overflow-hidden m-8">
        <div class="w-full">
            <app-line-column class="w-full h-96" [chartMetrics]="chartMetrics" [options]="chartData"></app-line-column>
        </div>
    </div>
    <div class="flex justify-end">
        <app-button
            [link]="'./admin/controle-caixa/ultimas-transacoes'"
            [class]="'bg-[#741308] hover:bg-[#118632] text-white font-bold py-4 px-6 rounded-lg'"
            [disabled]="false">
            Últimas Transações
        </app-button>
    </div>
</app-sidebar>