<app-sidebar>
  <main class="flex-1 p-4">
    <h1 class="text-4xl font-bold text-center">Bem vindo(a), Thaís!</h1>

    <div class="flex justify-end">
      <app-card
      [isDemographic]="true"
      iconClass="'icon-ingredientes'"
      title="Ingredientes"
      description="Total de ingredientes disponíveis"
      [metric]="'80'"
      [percentageChange]="12.0"
      [isPositive]="true"
      metricTitle="Ingredientes"
    ></app-card>

    <!-- Card for Pedidos iFood -->
    <app-card
      [isDemographic]="true"
      iconClass="'icon-pedidos'"
      title="Pedidos iFood"
      description="Total de pedidos pelo iFood"
      [metric]="'60'"
      [percentageChange]="-2.64"
      [isPositive]="false"
      metricTitle="Pedidos iFood"
    ></app-card>
    <app-card
      [isDemographic]="true"
      iconClass="'icon-pratos'"
      title="Pratos"
      description="Total de pratos disponíveis"
      [metric]="'40'"
      [percentageChange]="-10.64"
      [isPositive]="false"
      metricTitle="Pratos"
    ></app-card>
      
    </div>
  </main>    
  <h2 class="text-2xl font-bold mt-8 text-center">Histórico de Pedidos</h2>
      <div class="overflow-x-auto">
        <table class="min-w-full bg-white border border-gray-300 mt-4">
          <thead>
            <tr class="bg-gray-100">
              <th class="py-2 px-4 border-b">Número do Pedido</th>
              <th class="py-2 px-4 border-b">Data do Pedido</th>
              <th class="py-2 px-4 border-b">Valor Recebido</th>
              <th class="py-2 px-4 border-b">Status</th>
              <th class="py-2 px-4 border-b"></th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <td class="py-2 px-4 border-b">#2841787258</td>
              <td class="py-2 px-4 border-b">23/09/24</td>
              <td class="py-2 px-4 border-b">R$948.55</td>
              <td class="py-2 px-4 border-b text-yellow-500">Preparando</td>
              <td class="py-2 px-4 border-b">...</td>
            </tr>
            <tr class="text-center">
              <td class="py-2 px-4 border-b">#2841787257</td>
              <td class="py-2 px-4 border-b">20/08/2024</td>
              <td class="py-2 px-4 border-b">R$106.58</td>
              <td class="py-2 px-4 border-b text-green-500">Em entrega</td>
              <td class="py-2 px-4 border-b">...</td>
            </tr>
            <tr class="text-center">
              <td class="py-2 px-4 border-b">#2841787251</td>
              <td class="py-2 px-4 border-b">26/09/2024</td>
              <td class="py-2 px-4 border-b">R$396.84</td>
              <td class="py-2 px-4 border-b text-green-500">Em entrega</td>
              <td class="py-2 px-4 border-b">...</td>
            </tr>
          </tbody>
        </table>
      </div>


</app-sidebar>