<app-card
    [isDemographic]="false"
    [iconClass]="'icon-[lucide--users] text-[#740310] text-5xl w-full mx-auto'"
    [title]="'+1500 Clientes Atendidos'"
    [description]="'Nosso sistema é testado e aprovado por parceiros, o que garante sua confiabilidade!'"
></app-card>

<app-card
    [isDemographic]="true"
    [iconClass]="'icon-[lucide--users] text-[#740310] text-5xl w-full mx-auto'"
    [metric]="'1500'"
    [metricTitle]="'Clientes Atendidos'"
    [percentageChange]="10"
    [isPositive]="true"
></app-card>