<app-sidebar>
  <div class="flex justify-between items-center my-4">

    <app-button
      [class]="'bg-[#741308] hover:bg-[#118632] text-white font-bold py-4 px-6 rounded-lg'"
      [link]="'./admin/estoque/fichas-tecnicas'"
      [disabled]="false">
      Voltar
    </app-button>
    <app-button
      [link]="'./admin/estoque/fichas-tecnicas/nova-ficha'"
      [class]="'bg-[#741308] hover:bg-[#118632] text-white font-bold py-4 px-6 rounded-lg'"
      [disabled]="false">
      Cadastrar Nova Ficha
    </app-button>
  </div>
    <h1 class="text-4xl font-bold text-center mb-8"> Grupos Fichas Técnicas</h1>
    <h3 class="m-8 p-4 text-center">Confira as fichas cadastradas do grupo de fichas Massas</h3>
    <app-table [tableConfig]="tabela">

    </app-table>
</app-sidebar>