<app-sidebar>
    <div class="flex justify-between items-center my-4">

        <app-button
            [link]="'./admin/estoque/fornecedores'"
            [disabled]="false"
            >
            Voltar
      </app-button>
    </div>
    <div class="w-full flex flex-col justify-center items-center">
        <h1 class="text-4xl font-bold text-center my-6">Cadastrar Novo Fornecedor</h1>
        <p class="text-center my-4 w-full lg:w-1/2">
            Aqui você pode adicionar um fornecedor, podendo associá-lo a produtos e fichas técnicas.
        </p>
    </div>

    <div class="flex justify-center border-2 border-[#740318] rounded-md w-11/12 items-center mx-auto">
        <app-form [formGroup]="supplierForm" (ngSubmit)="onSubmit()" class="w-full h-full bg-white p-8">
            <ng-container *ngFor="let field of suppliersFields.fields">
                <ng-container [ngSwitch]="field.component">

                    <!-- Campo input para Nome do Fornecedor -->
                    <label *ngSwitchCase="'input'" [for]="field.id" class="block w-full my-2 text-sm font-medium">
                        {{ field.label }}
                    </label>
                    <app-form-input 
                    *ngSwitchCase="'input'" 
                    [type]="field.type || 'text'"
                    [id]="field.id"
                    [formControlName]="field.name" 
                    [placeholder]="field.placeholder"
                    class="w-full" />

                    <div *ngIf="supplierForm.get(field.name)?.invalid && supplierForm.get(field.name)?.touched"
                        class="h-6">
                        <span *ngIf="field.validations && field.validations[0]" class="text-red-500">
                            {{ field.validations[0].message }}
                        </span>
                    </div>
                </ng-container>
            </ng-container>

            <button type="submit"
                class="bg-[#740318] hover:bg-[#740318c9] disabled:bg-[#740318c9] text-white font-semibold py-3 px-4 w-full rounded transition ease-in-out duration-300 mt-4"
                [disabled]="!supplierForm.valid">
                Salvar Fornecedor
            </button>
        </app-form>
    </div>
</app-sidebar>
