<app-sidebar>
    <div class="flex justify-between items-center my-4">

        <app-button
            [class]="'bg-[#741308] hover:bg-[#118632] text-white font-bold py-4 px-6 rounded-lg'"
            [link]="'./admin/pedidos'"
            [disabled]="false"
            >
            Voltar
      </app-button>
      <app-button
        [link]="'./admin/estoque/cadastrar-ingrediente'"
        [class]="'bg-[#741308] hover:bg-[#118632] text-white font-bold py-4 px-6 rounded-lg'"
        [disabled]="false">
                Nova Mesa
        </app-button>
    </div>
    <div class="w-full flex flex-col justify-center items-center">
        <h1 class="text-4xl font-bold text-center my-6">Controle de Mesas</h1>
        <p class="text-center my-4 w-full lg:w-1/2">
            Verifique os pedidos em andamento de cada mesa de seu restaurante!         </p>
    </div>
    <app-card-list [cardListConfig]="cardListConfig">

    </app-card-list>

</app-sidebar>