<div class="w-full h-screen flex justify-center items-center bg-gray-100 p-4">
  <div class="flex flex-col lg:flex-row items-center justify-center space-y-10 lg:space-y-0 lg:space-x-10">
    <div class="flex justify-center items-center lg:mr-36 mb-6 lg:mb-0">
      <img src="assets/login.svg" alt="logo" class="w-48 h-48 lg:w-96 lg:h-96" />
    </div>

    <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-md">
      <h2 class="text-center text-xl font-bold text-[#740318] mb-4">Bem vindo ao Restaurantto!</h2>
      <p class="text-center text-gray-600 mb-6">Insira suas credenciais para acesso ao sistema.</p>

      <app-form [formGroup]="form" (ngSubmit)="submit(form.value)" class="space-y-6">
        <ng-container *ngFor="let field of loginFields.fields">
          <ng-container [ngSwitch]="field.component">
            <div *ngSwitchCase="'input'" class="flex flex-col space-y-2">
              <label [for]="field.name" class="text-gray-700 font-semibold">{{ field.placeholder }}</label>
              <input
                [id]="field.name"
                [formControlName]="field.name"
                [type]="field.type"
                [placeholder]="field.placeholder"
                class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:border-[#740318]"
              />
            </div>
          </ng-container>
        </ng-container>
        <button
          type="submit"
          class="w-full py-3 px-4 bg-[#740318] hover:bg-[#740318c9] text-white font-semibold rounded-lg transition duration-300 ease-in-out"
          [disabled]="!form.valid"
        >
          Login
        </button>
      </app-form>
      <div class="text-right mt-4">
        <a href="/forgot-password" class="text-[#740318] hover:underline">Esqueceu sua senha?</a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>