<app-sidebar>
    <h1 class="text-4xl font-bold text-center mb-8">Painel do Contador</h1>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">

        <app-table [tableConfig]="tabela"></app-table>

        <div class="flex justify-evenly items-center">
            <app-pie class="w-full flex m-auto justify-center items-end"
                    [options]="data"    
                    [metrics]="metrics" 
                    [id]="'stock-chart'"></app-pie>

        </div>
        <app-card class="flex-1 max-w-xs mr-4" >
        </app-card>
    </div>
</app-sidebar>
