<div class="flex items-center justify-center h-screen bg-gray-100">
    <div class="text-center">
        <h1 class="text-6xl font-bold text-[#741308]">Ooops...</h1>
        <p class="text-2xl mt-4 text-gray-700">Você não possui permissões suficientes para entrar nessa página!</p>
        <p class="mt-2 text-gray-600">Desculpe, mas a página que você está procurando exige autenticação prévia. Entre em contato com o suporte de seu restaurante e tente novamente mais tarde!</p>
        <a href="/login"
            class="mt-6 inline-block px-6 py-3 bg-[#741308] text-white font-semibold rounded-lg hover:bg-[#741308c9] transition duration-300">Login</a>
    </div>
</div>