<app-sidebar>
    <div class="flex justify-between items-center my-4">
        <app-button
            [link]="'./admin/estoque/fichas-tecnicas'"
            [disabled]="false"
        >
            Voltar
        </app-button>
    </div>
    <div class="w-full flex flex-col justify-center items-center">
        <h1 class="text-4xl font-bold text-center my-6">Cadastrar novo grupo de fichas técnicas</h1>
        <p class="text-center my-4 w-full lg:w-1/2">
            Aqui você pode associar uma ou mais ficha técnica a um grupo de fichas, agrupando-as como quiser.
        </p>
    </div>

    <div class="flex justify-center border-2 border-[#740318] w-11/12 mx-auto">
        <app-form
            [formGroup]="fichaGroupForm"
            (ngSubmit)="onSubmit()"
            class="w-full bg-white p-8 rounded-lg"
        >
            <ng-container *ngFor="let field of groupFields.fields">
                <ng-container [ngSwitch]="field.component">
                    <label
                        *ngSwitchCase="'input'"
                        [for]="field.name"
                        class="block w-full my-2 text-sm font-medium"
                        >{{ field.label }}</label
                    >
                    <app-form-input
                        *ngSwitchCase="'input'"
                        [type]="field.type"
                        [id]="field.name"
                        [formControlName]="field.name"
                        [placeholder]="field.placeholder"
                        class="w-full my-2 border"
                    />

                    <div
                        *ngIf="fichaGroupForm.get(field.name)?.invalid && fichaGroupForm.get(field.name)?.touched"
                        class="h-6"
                    >
                        <span
                            *ngIf="field.validations && field.validations[0]"
                            class="text-red-500"
                        >
                            {{ field.validations[0].message }}
                        </span>
                    </div>
                    <label
                        *ngSwitchCase="'textarea'"
                        [for]="field.id"
                        class="block w-full my-2 text-sm font-medium"
                    >
                        {{ field.label }}
                    </label>
                    <textarea
                        *ngSwitchCase="'textarea'"
                        [id]="field.id"
                        [formControlName]="field.name"
                        [placeholder]="field.placeholder"
                        class="w-full p-2 border-2 rounded outline-primary border-primary"
                    ></textarea>

                    <label
                        *ngSwitchCase="'select'"
                        [for]="field.name"
                        class="block w-full my-2 text-sm font-medium"
                    >
                        {{ field.label }}
                    </label>
                    <select
                        *ngSwitchCase="'select'"
                        [id]="field.name"
                        [formControlName]="field.name"
                        multiple
                        class="w-full my-2 border"
                    >
                        <option
                            *ngFor="let option of field.options"
                            [value]="option.value"
                        >
                            {{ option.label }}
                        </option>
                    </select>
                </ng-container>
            </ng-container>

            <div class="w-full flex md:flex-nowrap gap-4">
                <button
                    class="bg-[#740318] hover:bg-[#740318c9] disabled:bg-[#740318c9] text-white font-semibold py-3 px-4 w-full rounded transition ease-in-out duration-300 mt-4"
                    *ngIf="retrieveHttpMethod() === 'PUT'"
                    (click)="confirmExclusion()"
                    type="button"
                >
                    Excluir Grupo
                </button>
                <button
                    type="submit"
                    class="bg-[#FDBA8C] hover:bg-[#F8A785] disabled:bg-[#FDBA8C] text-white font-semibold py-3 px-4 w-full rounded transition ease-in-out duration-300 mt-4"
                    [disabled]="!fichaGroupForm.valid"
                >
                    Salvar Grupo
                </button>
            </div>
        </app-form>
    </div>
</app-sidebar>
